body{
    background-color: rgba(0,0,0,.1);
}
.products-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    margin: 0 25% 2% 25%;
    width: 50%;
}

.img_search{
    width: 180px;
    height: 180px;
    border-radius: 4px;
}
.categories{
    color:grey;
    font-size: 14px;
    
}
.div-categories{
    margin: 14px 25% 14px 25%;
}
.single-product{
    display: flex;
    flex-direction: row;
}

.ubicacion{
    text-align: end;
    margin-right: 12px;
    margin-top: 14px;
}

.label-price{
    width: 50%;
}

.h4-price{
    padding-bottom: 32px;
    padding-top: 14px;
}
.products-column{
    display: flex;
    flex-direction: column;
}
.ubication-products{
    margin: 16px 0% 0% 16px;
}

.link-class{
    color:black;
}
.div-busqueda{
    width: 50%;
    margin-left: 20%;
}
.cuadro-busqueda{
border-radius: 0%;
background-color: #fff;
border: none;
width: 100%;
box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
height: 39px;
}

.nav-busqueda{
    background-color: #FFE600;}
.nav-logo{
    background-image: url('../styles/images/Logo_ML.png');
    background-repeat: no-repeat;
    height: 38px;
    top: 11px;
    width: 70px;
}
.btn-busqueda{
    background-color: transparent;
    border:0;
}

.img_search{
    position: inherit;
    right: 35px;
}
.input-group-append{
    margin-left: -40px;
}
